.Header{
    height: 40px;
    color: snow;
    background-color: #61dafb;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    font-size: 20px;
    font-family: cursive;
}