.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#root > div{
  margin: 0 auto;
  width: 30%;
}
.first{
  background-color: antiquewhite;
  border: 3px solid green;
  margin-top: 10px;
}
.first > h2,h3{
  border: 2px solid #61dafb;
  text-align: center;
  background-color: greenyellow;
}
.first > p{
  text-align: center;
  font-family: cursive,sans-serif;
  margin: 5px;
}
.first > img{
  margin-left: 60px;
}


.second{
  background-color: #61dafb;
  border: 3px solid royalblue;
  margin-top: 10px;
}
.second > h2{
  text-align: center;
  background-color: blanchedalmond;
}
.second > h4{
  text-align: center;
  border: 1px solid greenyellow;
  background-color: aquamarine;
}
.second > img{
  width: 100%;
}
